*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  html, body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #69747c;
    background: white;
    scroll-behavior: smooth;
  }
  
  body {
    display: grid;
    grid-template: 
        "controls" 10vh
        "scoreboard" 90vh
        "visualization" 1fr  / 1fr;
  }

  section {
    border: 1px solid black;
    background: rgb(59, 59, 59);
  }

  .controls {
      grid-area: controls;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: wheat;
  }

  .scoreboard {
      grid-area: scoreboard;
      overflow: auto;
  }

  .visualization {
      grid-area: visualization;
  }

  .controls-buttons {
    display: flex;
    align-items: center;
  }

  .controls-buttons label, input, a {
    margin: 5px;
    cursor: pointer;
  }

  .controls-buttons a {
    padding: 10px;
    background: cadetblue;
    color: rgb(146, 26, 26);
  }
  
  .controls-buttons a:hover {
    padding: 10px;
    background: rgb(146, 26, 26);
    color: cadetblue;
  }

.scoreboard-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    
}

.scoreboard-table table, th, td {
  border: 1px solid red;
}

.scoreboard-table  thead {
  font-weight: 600;
  background: darkblue;
}
.scoreboard-table  td {
  cursor: pointer;
}

.scoreboard-table  tr:hover {
  background: azure;
  color: black;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  overflow: auto;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}