@font-face{
    font-family: "Cantarell";
    src: url("../fonts/Cantarell-Regular.woff");
    font-weight: 400;
}

@font-face{
    font-family: "TrendSansOne";
    src: url("../fonts/TrendSansOne.otf");
    font-weight: 400;
}
@import url(http://allfont.ru/allfont.css?fonts=arial-narrow);